function on_enter() {
    export PYTHONPATH=.
    export PYTEST_WATCH_EXCLUDE=".*\/__pycache__\/.*"
    export PYTEST_WATCH_INCLUDE="dedupe fixtures tests"
    [ -e venv/bin/activate ] && source venv/bin/activate
}

function on_exit() {
    unset PYTHONPATH
    unset PYTEST_WATCH_EXCLUDE
    unset PYTEST_WATCH_INCLUDE
    type deactivate > /dev/null && deactivate
}
